<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
  <head>
    <!-- Title block allowing child pages to override-->
    <title>EpiSwitch</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- Bower Components-->
    <link href="assets/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Share+Tech" rel="stylesheet">
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  </head>
  <body layout="column">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html">EpiSw<i class="fa fa-info fa-rotate-180"></i>tch<sup><small><i class="fa fa-trademark"></i></small></sup></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <form class="navbar-form navbar-right"><a class="btn btn-success" href="">Log In</a></form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">How It Works</a></li>
            <li><a href="">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="hero" style="background: white url(&quot;assets/images/dna-1.jpg&quot;) no-repeat center center;">
      <div class="container">
        <div class="search">
          <p class="lead">The only technology that offers high resolution annotations for regulatory 3D genome architecture.</p>
          <div class="form-group form-icon">
            <input class="form-control" type="text" placeholder="Search by SNP ID, Gene Name, or Genomic Region..."><a href="" data-toggle="tooltip" data-placement="left" title="Upload a text file"><i class="fa fa-upload fa-2x"></i></a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <md-content laout="column" flex="" ng-controller="nutritionController">
          <md-card>
            <div class="checkboxes" layout="row" layout-wrap="">
              <md-checkbox ng-model="options.rowSelection">Row Selection</md-checkbox>
              <md-checkbox ng-model="options.multiSelect">Multiple Selection</md-checkbox>
              <md-checkbox ng-model="options.autoSelect">Auto Selection</md-checkbox>
              <md-checkbox ng-model="options.decapitate">Decapitate</md-checkbox>
              <md-checkbox ng-model="options.largeEditDialog">Lard Edit Dialogs</md-checkbox>
              <md-checkbox ng-model="options.boundaryLinks">Pagination Boundary Links</md-checkbox>
              <md-checkbox ng-model="options.limitSelect" ng-click="toggleLimitOptions()">Pagination Limit Select</md-checkbox>
              <md-checkbox ng-model="options.pageSelect">Pagination Page Select</md-checkbox>
            </div>
          </md-card>
          <md-card>
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection &amp;&amp; selected.length">
              <div class="md-toolbar-tools"><span>Nutrition</span>
                <div flex=""></div>
                <md-button class="md-icon-button" ng-click="loadStuff()">
                  <md-icon>refresh</md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection &amp;&amp; selected.length">
              <div class="md-toolbar-tools"><span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span></div>
            </md-toolbar>
            <md-table-container>
              <table md-table="" md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                <thead ng-if="!options.decapitate" md-head="" md-order="query.order" md-on-reorder="logOrder">
                  <tr md-row="">
                    <th md-column="" md-order-by="name"><span>Dessert (100g serving)</span></th>
                    <th md-column="" md-order-by="type"><span>Type</span></th>
                    <th md-column="" md-numeric="" md-order-by="calories.value" md-desc=""><span>Calories</span></th>
                    <th md-column="" md-numeric="" md-order-by="fat.value"><span>Fat (g)</span></th>
                    <th md-column="" md-numeric="" md-order-by="carbs.value"><span>Carbs (g)</span></th>
                    <th md-column="" md-numeric="" md-order-by="protein.value"><span>Protein (g)</span></th>
                    <th md-column="" md-numeric="" md-order-by="sodium.value" hide-gt-xs="" show-gt-md=""><span>Sodium (mg)</span></th>
                    <th md-column="" md-numeric="" md-order-by="calcium.value" hide-gt-xs="" show-gt-lg=""><span>Calcium (%)</span></th>
                    <th md-column="" md-numeric="" md-order-by="iron.value" hide-gt-xs="" show-gt-lg=""><span>Iron (%)</span></th>
                    <th md-column="" md-order-by="comment">
                      <md-icon>comments</md-icon><span>Comments</span>
                    </th>
                  </tr>
                </thead>
                <tbody md-body="">
                  <tr md-row="" md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value &gt; 400" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                    <td md-cell="">{{dessert.name}}</td>
                    <td md-cell="">
                      <md-select ng-model="dessert.type" placeholder="Other">
                        <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
                      </md-select>
                    </td>
                    <td md-cell="">{{dessert.calories.value}}</td>
                    <td md-cell="">{{dessert.fat.value | number: 2}}</td>
                    <td md-cell="">{{dessert.carbs.value}}</td>
                    <td md-cell="">{{dessert.protein.value | number: 2}}</td>
                    <td md-cell="" hide-gt-xs="" show-gt-md="">{{dessert.sodium.value}}</td>
                    <td md-cell="" hide-gt-xs="" show-gt-lg="">{{dessert.calcium.value}}%</td>
                    <td md-cell="" hide-gt-xs="" show-gt-lg="">{{dessert.iron.value}}%</td>
                    <td md-cell="" ng-click="editComment($event, dessert)" ng-class="{'md-placeholder': !dessert.comment}">{{dessert.comment || 'Add a comment'}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
          </md-card>
        </md-content>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="text-center"><a href="">About Us</a><a href="">Contact Us</a><a href="">How It Works</a>
          <div class="clearfix"><br></div>
          <div class="logo">EpiSw<i class="fa fa-info fa-rotate-180"></i>tch<sup><small><i class="fa fa-trademark"></i></small></sup></div>
          <p class="copy"><small>Copyright &copy; 2017</small></p><small>v1.0</small>
        </div>
      </div>
    </footer>
    <!-- Bower Components-->
    <script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/scripts/ie10-viewport-bug-workaround.js" type="text/javascript"></script>
    <script src="assets/scripts/main.js" type="text/javascript"></script>
    <!-- page scripts goes here...-->
    <!-- External Script goes here...-->
    <script>
      $(document).ready(function() {
        
        $('[data-toggle="tooltip"]').tooltip();
        
      });
      
      angular.module('demoApp', ['ngMaterial', 'md.data.table'])
      
      .config(['$mdThemingProvider', function ($mdThemingProvider) {
        'use strict';
        
        $mdThemingProvider.theme('default')
          .primaryPalette('blue');
      }])
      
      .controller('nutritionController', ['$mdEditDialog', '$q', '$scope', '$timeout', function ($mdEditDialog, $q, $scope, $timeout) {
      'use strict';
      
      $scope.selected = [];
      $scope.limitOptions = [5, 10, 15];
      
      $scope.options = {
        rowSelection: true,
        multiSelect: true,
        autoSelect: true,
        decapitate: false,
        largeEditDialog: false,
        boundaryLinks: false,
        limitSelect: true,
        pageSelect: true
      };
      
      $scope.query = {
        order: 'name',
        limit: 5,
        page: 1
      };
      
      $scope.desserts = {
        "count": 9,
        "data": [
          {
            "name": "Frozen yogurt",
            "type": "Ice cream",
            "calories": { "value": 159.0 },
            "fat": { "value": 6.0 },
            "carbs": { "value": 24.0 },
            "protein": { "value": 4.0 },
            "sodium": { "value": 87.0 },
            "calcium": { "value": 14.0 },
            "iron": { "value": 1.0 }
          }, {
            "name": "Ice cream sandwich",
            "type": "Ice cream",
            "calories": { "value": 237.0 },
            "fat": { "value": 9.0 },
            "carbs": { "value": 37.0 },
            "protein": { "value": 4.3 },
            "sodium": { "value": 129.0 },
            "calcium": { "value": 8.0 },
            "iron": { "value": 1.0 }
          }, {
            "name": "Eclair",
            "type": "Pastry",
            "calories": { "value":  262.0 },
            "fat": { "value": 16.0 },
            "carbs": { "value": 24.0 },
            "protein": { "value":  6.0 },
            "sodium": { "value": 337.0 },
            "calcium": { "value":  6.0 },
            "iron": { "value": 7.0 }
          }, {
            "name": "Cupcake",
            "type": "Pastry",
            "calories": { "value":  305.0 },
            "fat": { "value": 3.7 },
            "carbs": { "value": 67.0 },
            "protein": { "value": 4.3 },
            "sodium": { "value": 413.0 },
            "calcium": { "value": 3.0 },
            "iron": { "value": 8.0 }
          }, {
            "name": "Jelly bean",
            "type": "Candy",
            "calories": { "value":  375.0 },
            "fat": { "value": 0.0 },
            "carbs": { "value": 94.0 },
            "protein": { "value": 0.0 },
            "sodium": { "value": 50.0 },
            "calcium": { "value": 0.0 },
            "iron": { "value": 0.0 }
          }, {
            "name": "Lollipop",
            "type": "Candy",
            "calories": { "value": 392.0 },
            "fat": { "value": 0.2 },
            "carbs": { "value": 98.0 },
            "protein": { "value": 0.0 },
            "sodium": { "value": 38.0 },
            "calcium": { "value": 0.0 },
            "iron": { "value": 2.0 }
          }, {
            "name": "Honeycomb",
            "type": "Other",
            "calories": { "value": 408.0 },
            "fat": { "value": 3.2 },
            "carbs": { "value": 87.0 },
            "protein": { "value": 6.5 },
            "sodium": { "value": 562.0 },
            "calcium": { "value": 0.0 },
            "iron": { "value": 45.0 }
          }, {
            "name": "Donut",
            "type": "Pastry",
            "calories": { "value": 452.0 },
            "fat": { "value": 25.0 },
            "carbs": { "value": 51.0 },
            "protein": { "value": 4.9 },
            "sodium": { "value": 326.0 },
            "calcium": { "value": 2.0 },
            "iron": { "value": 22.0 }
          }, {
            "name": "KitKat",
            "type": "Candy",
            "calories": { "value": 518.0 },
            "fat": { "value": 26.0 },
            "carbs": { "value": 65.0 },
            "protein": { "value": 7.0 },
            "sodium": { "value": 54.0 },
            "calcium": { "value": 12.0 },
            "iron": { "value": 6.0 }
          }
        ]
      };
      
      $scope.editComment = function (event, dessert) {
        event.stopPropagation(); // in case autoselect is enabled
        
        var editDialog = {
          modelValue: dessert.comment,
          placeholder: 'Add a comment',
          save: function (input) {
            if(input.$modelValue === 'Donald Trump') {
              input.$invalid = true;
              return $q.reject();
            }
            if(input.$modelValue === 'Bernie Sanders') {
              return dessert.comment = 'FEEL THE BERN!'
            }
            dessert.comment = input.$modelValue;
          },
          targetEvent: event,
          title: 'Add a comment',
          validators: {
            'md-maxlength': 30
          }
        };
        
        var promise;
        
        if($scope.options.largeEditDialog) {
          promise = $mdEditDialog.large(editDialog);
        } else {
          promise = $mdEditDialog.small(editDialog);
        }
        
        promise.then(function (ctrl) {
          var input = ctrl.getInput();
          
          input.$viewChangeListeners.push(function () {
            input.$setValidity('test', input.$modelValue !== 'test');
          });
        });
      };
      
      $scope.toggleLimitOptions = function () {
        $scope.limitOptions = $scope.limitOptions ? undefined : [5, 10, 15];
      };
      
      $scope.getTypes = function () {
        return ['Candy', 'Ice cream', 'Other', 'Pastry'];
      };
      
      $scope.loadStuff = function () {
        $scope.promise = $timeout(function () {
          // loading
        }, 2000);
      }
      
      $scope.logItem = function (item) {
        console.log(item.name, 'was selected');
      };
      
      $scope.logOrder = function (order) {
        console.log('order: ', order);
      };
      
      $scope.logPagination = function (page, limit) {
        console.log('page: ', page);
        console.log('limit: ', limit);
      }
      }]);
    </script>
  </body>
</html>