/*
 * Style tweaks
 * --------------------------------------------------
 */

    /*html,*/
    .offcanvas-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        display: none;
    }
	.row-offcanvas {
		/*background: white;
		-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
        background: #e9edf2;*/
		height: 100%;
	}
/*
 * Off Canvas
 * --------------------------------------------------
 */
    
    @media screen and (max-width: 767px) {
        .row-offcanvas {
            position: relative;
            -webkit-transition: all .25s ease-out;
            transition: all .25s ease-out;
            
            /* rodan */
            -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.26);
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.26);
            background: #fff;
        }
        .row-offcanvas-right {
            right: 0;
        }
        .row-offcanvas-left {
            left: 0;
        }
        .row-offcanvas-right .sidebar-offcanvas {
            right: -50%;
            /* 6 columns */
        }
        .row-offcanvas-left .sidebar-offcanvas {
            left: -50%;
            /* 6 columns */
        }
        .row-offcanvas-right.active {
            right: 50%;
            /* 6 columns */
        }
        .row-offcanvas-left.active {
            left: 50%;
            /* 6 columns */
        }
        .sidebar-offcanvas {
            position: absolute;
            top: 0;
            width: 50%;
            /* 6 columns */
            height: 100%;
        }
    }

    @media screen and (max-width: 448px) {
        .row-offcanvas-right .sidebar-offcanvas {
            right: -80%;
            /* 6 columns */
        }
        .row-offcanvas-left .sidebar-offcanvas {
            left: -80%;
            /* 6 columns */
        }
        .row-offcanvas-right.active {
            right: 80%;
            /* 6 columns */
        }
        .row-offcanvas-left.active {
            left: 80%;
            /* 6 columns */
        }
        .sidebar-offcanvas {
            width: 80%;
        }
    }