<!DOCTYPE html>
<html ng-app="myBonsaiApp" lang="en">
  <head>
    <!-- Title block allowing child pages to override-->
    <title>My Bonsai Diary</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- Bower Components-->
    <link href="assets/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="bower_components/angularjs-slider/dist/rzslider.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Bubblegum+Sans" rel="stylesheet">
    <link href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="bower_components/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="bower_components/mdr-angular-file/dist/mdr-file.min.css" rel="stylesheet">
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <script src="//www.google.com/recaptcha/api.js"></script>
  </head>
  <body class="{{imHome ? 'home' : ''}}">
    <header class="exclude">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/"><img src="assets/images/logo-invert.png"></a>
          </div>
          <div class="navbar-collapse collapse" id="navbar">
            <form class="navbar-form navbar-right"><a class="btn btn-default" href="/login" ng-if="imHome">Sign in</a><a class="btn btn-default" href="/login" ng-if="imIn">Sign out</a></form>
            <ul class="nav navbar-nav navbar-right" ng-if="imIn">
              <li class="active"><a href="" translate="MY_ACCOUNT"></a></li>
              <li><a href="" translate="BUY_SWAP_SELL"></a></li>
              <li><a href="" translate="FORUM"></a></li>
              <li><a href="" translate="HELP"></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="page">
      <div class="container">
        <div class="page-content">
          <h3>Site Map</h3>
          <ul>
            <li>Home</li>
            <li>Contact</li>
            <li>About</li>
            <li>Privacy</li>
            <li>Terms of Use</li>
            <li>Site Map</li>
            <li>Advertise With Us</li>
          </ul>
        </div>
      </div>
    </section>
    <footer class="exclude">
      <div class="container">
        <ul class="links">
          <li><a href="contact.html" translate="CONTACT"></a></li>
          <li><a href="about.html" translate="ABOUT_US"> </a></li>
          <li><a href="privacy.html" translate="PRIVACY"> </a></li>
          <li><a href="terms.html" translate="TERMS_OF_USE"></a></li>
          <li><a href="sitemap.html" translate="SITE_MAP"></a></li>
          <li><a href="advertise.html" translate="ADVERTISE_WITH_US"></a></li>
        </ul>
        <div class="social"><a href=""><i class="fa fa-facebook"></i></a><a href=""><i class="fa fa-instagram"></i></a></div>
      </div>
    </footer>
    <!-- Bower Components-->
    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js" type="text/javascript"></script>
    <script src="assets/scripts/ie10-viewport-bug-workaround.js" type="text/javascript"></script>
    <script src="assets/scripts/main.js" type="text/javascript"></script>
    <script src="assets/scripts/environment.js" type="text/javascript"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/mdr-angular-file/dist/mdr-file.min.js" type="text/javascript"></script>
    <!-- Angular js files-->
    <script src="assets/app/app-module.js" type="text/javascript"></script>
    <script src="assets/app/app-routes.js" type="text/javascript"></script>
    <!--angular language files-->
    <script src="bower_components/angular-translate/angular-translate.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-translate-handler-log/angular-translate-handler-log.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js" type="text/javascript"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js" type="text/javascript"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js" type="text/javascript"></script>
    <script src="bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <!--controller files-->
    <script src="assets/app/controllers/my_trees/TreesController.js" type="text/javascript"></script>
    <script src="assets/app/controllers/my_trees/HomeController.js" type="text/javascript">   </script>
    <script src="assets/app/controllers/my_trees/CalendarController.js" type="text/javascript"> </script>
    <script src="assets/app/controllers/my_trees/ProfileController.js" type="text/javascript"> </script>
    <script src="assets/app/controllers/my_trees/GelleryController.js" type="text/javascript"> </script>
    <script src="assets/app/controllers/my_trees/NotificationsController.js" type="text/javascript"> </script>
    <script src="assets/app/controllers/my_trees/AddTreeController.js" type="text/javascript"> </script>
    <script src="assets/app/controllers/my_trees/TimelineController.js" type="text/javascript"> </script>
    <script src="assets/app/controllers/MainController.js" type="text/javascript"></script>
    <script src="assets/app/controllers/LoginController.js" type="text/javascript"></script>
    <!-- page scripts goes here...-->
    <!-- External Script goes here...-->
    <script>
      $(document).ready(function() {
      
      });
    </script>
  </body>
</html>