
<div ng-cloak scroll>
  <section class="page">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="toggle-aside visible-xs row"><a class="collapsed" href="#aside" data-toggle="collapse"><i class="fa fa-chevron-down"></i></a></div>
          <aside id="aside">
            <nav>
              <ul>
                <li><a href="/home" translate="HOME"> </a></li>
                <li><a href="/trees" translate="MY_TREES"> </a></li>
                <li><a href="/calendar" translate="MY_BONSAI_CALENDAR"></a></li>
                <li><a href="/profile" translate="MY_PUBLIC_PROFILE"></a></li>
                <li><a href="/gallery" translate="MY_GALLERY"></a></li>
                <li><a href="/notifications" data-badge="NEW" translate="MY_NOTIFICATIONS"></a></li>
              </ul>
            </nav>
          </aside>
        </div>
        <div class="col-sm-9">
          <div class="page-content">
            <article>
              <div class="collection">
                <h3 class="text-center">My Trees  </h3>
                <input class="form-control" type="text" placeholder="Search by species or age e.g. Juniper, Cascade, 1996 etc." ng-keyup="treesCtrl.loadTreeList()" ng-model="treesCtrl.findTrees">
                <div class="col-sm-8">
                  <p class="countresult" ng-show="filtered_result.length &gt; 0 &amp;&amp; treesCtrl.findTrees != &quot;&quot;"> <strong> ({{filtered_result.length}}) </strong> item(s) found for <strong> {{treesCtrl.findTrees}} </strong></p>
                  <p class="countresult" ng-show="filtered_result.length === 0">No matching results found.</p>
                  <p class="countresult" ng-show="treesCtrl.findTrees == &quot;&quot;">You have currently <strong> {{myTrees[0].numOfRecords}} </strong> tree(s) in your diary</p>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="col-sm-2 sortmargin">
                      <label>Sort by:</label>
                    </div>
                    <div class="col-sm-3 sortmargin"><a class="nounlinelink" href="" ng-class="{'sortcolor' : treesCtrl.sortSpecies}" ng-click="treesCtrl.sortBy('species')">Species<i>&nbsp;</i><i class="fa" ng-class="{'fa-long-arrow-up': treesCtrl.isSpecies, 'fa-long-arrow-down': !treesCtrl.isSpecies}"></i><i>&nbsp;</i><i class="fa" ng-class="{'fa-long-arrow-up': treesCtrl.isSpecies, 'fa-long-arrow-down': !treesCtrl.isSpecies}"></i></a></div>
                    <div class="col-sm-3 sortmargin"><a class="nounlinelink" href="" ng-class="{'sortcolor' : treesCtrl.sortYear}" ng-click="treesCtrl.sortBy('year')">Age<i>&nbsp;</i><i class="fa" ng-class="{'fa-long-arrow-up': treesCtrl.isYear, 'fa-long-arrow-down': !treesCtrl.isYear}"></i><i>&nbsp;</i><i class="fa" ng-class="{'fa-long-arrow-up': treesCtrl.isYear, 'fa-long-arrow-down': !treesCtrl.isYear}"></i></a></div>
                    <div class="col-sm-4 btn-add-bonsai"><a class="btn btn-success" href="" ng-click="treesCtrl.addEditTreeInfo(tree.id, false)">+ Add Bonsai</a></div>
                  </div>
                </div>
                <div class="row" id="addEdit">
                  <h5 class="messageaddedit text-center">{{treesCtrl.messageAddEdit}}                                </h5>
                </div>
                <hr>
                <div class="row flex flex-wrap">
                  <div class="treedetails col-xs-12 col-sm-4" ng-repeat="tree in myTrees | orderBy : treesCtrl.propertyName:treesCtrl.reverse as filtered_result">
                    <div class="collection-thumb flex flex-column grow-1">
                      <div class="thumb"><a href="/timeline"><img ng-src="{{tree.imageUrl}}" alt="{{tree.type}}"></a></div>
                      <div class="flex center flex-column">
                        <div class="name">{{tree.species}}</div>
                        <div class="name">{{tree.style}}</div>
                        <div class="age" ng-show="{{tree.year &gt; 0}}">{{(treesCtrl.currentDate | date : "yyyy") - tree.year}} years</div>
                        <div class="age" ng-show="{{!tree.year &gt; 0}}">No age specified.</div><a class="btn btn-success btn-sm edit fa fa-pencil" ng-click="treesCtrl.addEditTreeInfo(tree.id, true)" data-id="{{tree.id}}"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>