/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
	padding-top: 70px;
	/*font-family: 'Ubuntu', sans-serif;*/
	color: #333;
	position: relative;
    background: rgb(240, 249, 240);
}
/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	display: block;
}
@media screen and (min-width: 767px) {
	h1 small,
	h2 small,
	h3 small,
	h4 small,
	h5 small,
	h6 small {
		display: inline;
	}
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
	border: 0;
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 0 20px 50px 20px;
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */

		background-color: #fff;
		-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
	}
}
/* Sidebar navigation */

.nav-sidebar {
	margin-right: -21px;
	/* 20px padding + 1px border */

	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar > li > a {
	padding: 15px 20px;
}

.nav-sidebar > li > a:before {
	padding-right: 10px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #049900;
}
/*
 * Main content
 */

.main {
	/*    padding: 20px;*/

	padding: 20px 0 0;
}

.dashboard-main {
	margin-top: -20px;
}

@media (min-width: 768px) {
	.main {
		/*
        padding-right: 40px;
        padding-left: 40px;
*/
	}
}

.main .page-header {
	margin-top: 0;
	margin-bottom: 5px;
	border-bottom: 0;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}
/*=============================================*
 * App css
 *=============================================*/
/*/
 * Forms Express CSS
/*/
	a {
		color: inherit;
	}

	a:hover {
		color: #333;
	}

	.navbar-inverse .navbar-brand {
		color: white;
	}

	.navbar-brand.menu {
		padding-left: 15px;
		padding-right: 15px;
	}

	.logo {
		margin-left: -20px;
		margin-right: -20px;
		/*margin-bottom: 20px;*/
		background-color: #3f3f3f;
		height: 70px;
		position: relative;
	}

	.logo > img {
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		padding: 5px 10px;
	}

	.logo .carousel img {
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		padding: 5px 10px;
	}
	.logo.mobile {
		margin: 0;
		float: left;
	}

	.logo.mobile img {
		position: inherit;
	}

/*/
 * Required Input text
/*/
.casing.required:after {
	font-family: FontAwesome;
	content: "\f071";
	position: absolute;
	top: 8px;
	right: 0;
	color: rgb(255, 118, 118);
}

.casing.required select {
	width: 95%;
}

/*/
 * Card Box Container
/*/
.card {
	position: relative;
	padding: 15px;
	margin-bottom: 15px;
	background: white;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}



footer {
	position: absolute;
	left: 20px;
	bottom: 20px;
	line-height: 18px;
	font-size: 11px;
	color: rgba(44, 52, 63, 0.54);
}


.lnk-notifications .counter {
	position: absolute;
	top: 15px;
	left: 24px;
	border-radius: 4px;
	padding: 3px 4px;
	background-color: #ff4500;
	color: #fff;
	font-size: 9px;
	line-height: 9px;
}


.img-notice {
	height: 100%;
	max-width: 100%;
	padding: 10px;
	border: 1px dashed lightgray;
}

/*/
 * Wizard
/*/
	.wizard h4 {
		margin-top: 0;
		margin-bottom: 10px;
		background-color: #2c343f;
		padding: 10px 0 10px 45px;
		position: relative;
		font-size: 14px;
		text-transform: uppercase;
		color: white;
	}
	.wizard h4 span {
		display: inline-block;
		position: absolute;
		height: 100%;
		width: 35px;
		background-color: #36BFA1;
		top: 0;
		left: 0;
		padding: 11px;
		text-align: center;
		color: white;
	}
	.wizard h4 small {
		white-space: nowrap;
		display: inline-block;
	}
/*/
 * Interactive Form
/*/
	.form-interactive {
		position: relative;
	}

	.form-interactive .casing {
		margin-top: 20px;
	}

	.form-interactive .casing .placeholder {
		position: absolute;
		z-index: 3;
		top: 8px;
		left: 10px;
		vertical-align: middle;
		font-style: normal;
		color: gray;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		font-style: italic;
		cursor: text;
		width: 90%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.form-interactive .casing .placeholder.move {
		top: -8px;
		color: inherit;
		font-size: 10px;
		background-color: white;
		padding: 0 3px;
		color: silver;
		font-style: normal;
	}
/*/
 * Pagination
/*/
	.pagination>.active>a,
	.pagination>.active>a:focus,
	.pagination>.active>a:hover,
	.pagination>.active>span,
	.pagination>.active>span:focus,
	.pagination>.active>span:hover {
		color: gray;
		background: #eee;
		border-color: #ddd;
	}

	.pagination>li>a,
	.pagination>li>span {
		color: inherit;
	}

/*/
 * Helper Style Class
/*/
	.vspacer {
		display: block;
		height: 5px;
		clear: both;
	}
	.nomargin {
		margin: 0;
	}
	.block {
		display: block;
	}
	.inline {
		display: inline;
	}
	.wauto {
		width: auto;
	}
	.valignm {
		vertical-align: middle;
	}

/*=============================================*
 * Charts
 *=============================================*/
    .chart.stack-wrap {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;

        -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
        flex-direction: inherit;

        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;

        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;

        -webkit-align-items: flex-start;
        align-items: flex-start
    }
    .chart.stack-wrap .stack.selected {
        -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
        flex: 1 100%;
    }
    .chart.stack-wrap .stack:not(.selected) {
        /*width: 100%;*/
        -webkit-flex: 1; /* Safari 6.1+ */
        -ms-flex: 1; /* IE 10 */
        flex: 1;
    }
/* Flex order has been moved to the script so that we the number of panels can be configured dynamically /
    .chart.stack-wrap .stack.o_1 {
        -webkit-box-ordinal-group:1;
        -moz-box-ordinal-group:1;
        -ms-flex-order:1;
        -webkit-order:1;
        order:1;
    }
    .chart.stack-wrap .stack.o_2 {
        -webkit-box-ordinal-group:2;
        -moz-box-ordinal-group:2;
        -ms-flex-order:2;
        -webkit-order:2;
        order:2;
    }
    .chart.stack-wrap .stack.o_3 {
        -webkit-box-ordinal-group:3;
        -moz-box-ordinal-group:3;
        -ms-flex-order:3;
        -webkit-order:3;
        order:3;
    }
    .chart.stack-wrap .stack.o_4 {
        -webkit-box-ordinal-group:4;
        -moz-box-ordinal-group:4;
        -ms-flex-order:4;
        -webkit-order:4;
        order:4;
    }
*/
    .chart section canvas {
        width: 100% !important;
    }
    .chart-head {
        margin-bottom: 20px;
        text-align: right;
    }
    .chart-head a {
        text-decoration: none;
    }
    .chart-elem.selected .chart-head a:before {
        content: "\f00d";
    }
    .chart-head a:not(.selected):before {
        content: "\f065";
    }

/*=============================================*
 * Media Queries
 *=============================================*/
	/*
	 * Mobile First
	 */
		@media screen and (min-width: 767px) {
			.chart.stack-wrap .stack:not(.selected) {
                /*width: 33.33%;*/
            }
		}

		@media screen and (min-width: 1170px) {

		}

	/*
	 * WEB
	 */
		@media screen and (max-width: 990px) {

		}

		@media screen and (max-width: 767px) {
			body > .container-fluid {
				overflow-x: hidden;
			}
			input[type="text"],
			input[type="password"],
			textarea {
				font-size: 16px;
			}
			.lnk-notifications .counter {
				left: auto;
				right: 15px;
				top: 24px;
			}
			.container-fluid > .navbar-collapse,
			.container-fluid > .navbar-header,
			.container > .navbar-collapse,
			.container > .navbar-header {
				-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
				box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
			}
			.sidebar {
				background: #313131;
				color: white;
			}
			footer {
				color: silver;
			}
			.login-col-lnk {
				margin-bottom: 5px;
				text-align: left;
				width: 100%;
			}
            .nav-sidebar > .active > a,
            .nav-sidebar > .active > a:hover,
            .nav-sidebar > .active > a:focus {
                color: #313131;
                background-color: #fff;
            }
		}

/*/
 * TT Hack
/*/
	.widgetDiv * div {
		float: none !important;
	}
	.wbdDesignerBody {
		padding: 0;
	}
	.designer-draggable-layout * div {
		position: static !important;
	}
	.widgetDiv .css_zone:before {
		content: "CSS_ZONE";
		text-align: center;
	}
	.widgetDiv .js_zone:before {
		content: "JS_ZONE";
		text-align: center;
	}
