body {
	font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300 !important;
}

p {
	font-weight: normal;
    font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.content-width {
	max-width: 100%;
	display: block;
	margin: auto;
}

@media screen and (min-width: 1117px) {
	.content-width {
		max-width:1117px;
	}
}

.line-price {
	background-color: #c3c3c3;
	padding: 1px 0px 0px 0px;
    width: 90%;
    display: block;
    margin: auto;
}


/** Logo **/
#Logo {
	padding: 40px;
}
#Logo img {
	max-height: 140px;
}

a:link{
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}


/** WELCOME **/

#Welcome {
	background-color: #00a19b;
	padding: 50px 0;
	color: #fff;
	letter-spacing: 0px;
}

#Welcome h1 {
	font-weight: 300 !important;
}

#Welcome p {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.2;
}

#Welcome a{
	color: #fdce40;
	font-weight: 600;
}

#Welcome a:link{
	text-decoration: none;
}

#Welcome a:visited{
	text-decoration: none;
}

#Welcome a:hover{
	color: #fff;
	text-decoration: none;
}

#Welcome a:active {
	text-decoration: none;
}

#Welcome button {
	width: 200px;
    background-color: #FDCE40;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    padding-top: 10px;
    border-radius: 4px;
    padding-bottom: 10px;
    color: #00A19B;
    border: none;
    display: block;
    margin: auto;
    text-decoration: none;
}

#Welcome button:hover { 
    background-color: #fff;
    color: #00A19B;
    border: none;
    text-decoration: none;
}



/** FIRST PRICE **/


		.wrapper {
			width: 60%;
			display: block;
			margin: auto;
		}
		
		[data-carousel-3d] {
			background-color: transparent;
			background-image: url(../img/img-caro.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: auto 100%;
			border: none;
		}
		[data-carousel-3d] [data-children-wrapper] {
			top: 33%;
			right: 37%;
			left: 37%;
		}
		[data-carousel-3d] [data-children-wrapper] [data-child]:before {
			    content: " ";
				background: transparent url(../img/img-post.png) no-repeat center center scroll;
				width: 15%;
				height: 80%;
				position: absolute;
				left: 43%;
				top: 7%;
				background-size: 100% 100%;
		}
		[data-children-wrapper] img {
			border-radius: 50%;
			border: 20px solid #f2dca6;
		}
		[data-children-wrapper] img[data-toggle="modal"] {
			cursor: pointer;
		}
		[data-child-frame] {
			border: 0;
		}
		[data-carousel-3d]:before {
			padding-top: 45%;
			padding-bottom: 10%;
		}
		[data-carousel-3d] [data-prev-button],
		[data-carousel-3d] [data-next-button] {
			cursor: pointer;
			height: 48px;
			top: 50%;
		}
		[data-carousel-3d] [data-prev-button]:hover,
		[data-carousel-3d] [data-next-button]:hover {
			opacity: 0.7;
			filter: alpha(opacity=70); /* For IE8 and earlier */
		}

/*MODAL*/

 .modal-content button.close {
	margin-right: 10px;
	font-size: 40px;
	opacity: .5;
}

.modal-content {
	border-radius: 0px !important;
	padding-top: 30px;
	padding-bottom: 30px;
	letter-spacing: 0px;
}

	.gallery {width: auto; margin: 0 auto 20px auto;}
	.gallery ul {padding-left: 5px; padding-bottom: 50px;}
	.gallery li {display: inline; margin-right: 2px;}
	.gallery li .selected {outline: solid 1px #cfd4d7;}
	.main-img {background: no-repeat center center; padding: 26px; width: 500px; margin-top: 10px;}


.brand-name {
	color: #00a19b;
}

.prize-description {
	font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
	line-height: 1.5;
    padding: 0px;
}

.prize-list-modal {
	font-size: 16px;
    padding-left: 20px;
}

#First-Prize {
	padding-top: 50px;
	padding-bottom: 50px;
}

.prize-sign-holder {
	position: absolute;
}

.prize-sign {
	width: 300px;
	position: relative;
}
.prize-label{
	font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-top: 10px;
	color: #4e4946;
}

.prize-list {
	font-size: 16px;
	color: #4e4946;
	letter-spacing: 0px;
	line-height: 1.5;
}







/** SECOND PRICE **/

#Second-Prize {
	padding-top: 50px;
	padding-bottom: 50px;
}



/** CONTEST Form **/
#Contest-Form {
	background-color: #ffd13e;
	padding: 40px 0;
}

#Contest-Form p{
	letter-spacing: 0px;
	font-weight: normal;
	color: #494542;
}

#Contest-Form p b {
	font-weight: 700;
}

#Contest-Form .round {
	margin-left: 100px;
	color: #fff;
	line-height: 1.7;
	font-size: 20px;
	font-weight: 200;
	float: right;
	background: #494641;
	width: 35px;
	height: 35px;
	
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius: 70px;
}

.form-num {
	margin-top: 20px;
}

#Contest-Form input{
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 20px;
	padding-left: 10px;
}

#Contest-Form input[type=checkbox], input[type=radio]{
	margin-bottom: 5px;
    
}

#Contest-Form label input[type=checkbox], input[type=radio]{
	color: #4d4d4d;
	cursor: pointer;
	display: block;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0;
}


#Contest-Form .label-align input[type="checkbox"]{
	margin-top:6px;
} 

#Contest-Form .label-align span{
	margin: 0 0 20px 20px;
	display: block;
	font-weight: normal;
}

#Contest-Form .checkbox-left {
	float: left;
}

#Contest-Form form a:link {
	text-decoration: none;
}





::-webkit-input-placeholder {
 	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: #7a7a7a;
}
:-moz-placeholder { /* older Firefox*/
 	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: #7a7a7a;
}
::-moz-placeholder { /* Firefox 19+ */ 
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: #7a7a7a;
} 
:-ms-input-placeholder { 
 	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: #7a7a7a;
}




.Contest-Form-question {
	font-size: 18px;
	padding: 10px 50px 10px 0px;
}



#Contest-Form textarea{
	font-weight: normal;
	font-size: 15px;
	margin: 7px 5px 9px 0px;
	border-radius: 0px;
}

#mc-embedded-subscribe {
	width: 150px;
    background-color: #00a19b;
    font-weight: normal;
    font-size: 16px !important;
	letter-spacing: 0px;
    padding-top: 10px;
    border-radius: 4px;
    padding-bottom: 10px;
    color: #fff;
    border: none;
	display: inline-block;
	text-decoration: none;
}

#mc-embedded-subscribe:hover{
	text-decoration: none;
	background-color: #fff;
	color: #00a19b;
}
#Contest-Form a:hover{
	text-decoration: none;
}


.red-text {
	color: #f94f64;
	font-size: 17px;
}

.input-wrapper {
  	margin: 5px;
	display: inline-block;
    position: relative;
    top: 15px;
}

.input-length {
	height: 40px;
	width: 100%;
}

.ast {
	color: #ef404d;
	font-size: 40px;
	line-height: 1;
}

.input-checkbox-label {
	font-size: 17px;
}


#Newsletter {
	padding: 50px 0;
}

#Newsletter h3 {
	font-weight: normal !important;
}

#Newsletter a{
	color: #f94f64;
	font-weight: 400;
}

#Newsletter a:link {
	text-decoration: none;
}

#Newsletter a:hover {
	color: #00a19b;
}

#Newsletter input{
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 15px;
	padding-left: 10px;
}

#Newsletter #hidden-form {
	
}

#Newsletter input[type="submit"] {
	width: 150px;
    background-color: #00a19b;
    font-weight: normal;
    font-size: 16px;
	letter-spacing: 0px;
    padding-top: 10px;
    border-radius: 4px;
    padding-bottom: 10px;
    color: #fff;
    border: none;
	display: block;
	margin: auto;
	text-decoration: none;
}

#Newsletter input[type="submit"]:hover{
	text-decoration: none;
	background-color: #fbd13f;
	color: #00a19b;
}
#Newsletter a:hover{
	text-decoration: none;
}


#Brands {
	background-color: #fff;
}

#Brands .logo-spacing {
	padding-top: 30px;
}

#Brands img {
    vertical-align: middle;
    /**max-height: 300px;**/
    max-width: 150px;
	margin-bottom: 50px;
	opacity: 0.5;
	filter: opacity(0.5) grayscale(100%);
	-webkit-filter: opacity(0.5) grayscale(100%);
}

#Brands img:hover{
	opacity: 1;
	filter: opacity(1) grayscale(0);
	transition: -webkit-filter 0.5s;
	-webkit-filter: opacity(1) grayscale(0);
	-webkit-transition: -webkit-filter 0.5s;
}


/**FOOTER**/


#Important-Links {
	padding: 50px;
	background-color: #00a19b;
	color: #fff;
	font-weight: normal;
}


.logo-tbi{
	width: 500px;
}

#Important-Links .links a{
	color: #fff;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 0px;
}


#Important-Links a:hover{
	color: #dca900;
	text-decoration: none;
}

#Important-Links address, email {
	color: #fff;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 0px;
}

#Important-Links email a{
	color: #fff;
}

#Important-Links .sns-label {
	letter-spacing: 0px;
    font-weight: normal;
    font-size: 18px;
    margin-top: 7px;
}

#SNS .col-md-1{
	padding-left: 0px;
}

#SNS .col-md-5{
	padding-left: 0px;
}

.sns {
	width: 30px;
	margin-top: 4px;
}

#Important-Links .sns a{
	width: 30px;
	margin-top: 4px;
}

.sns-icon-space {
	margin-right: 5px;
}

footer {
	padding: 50px;
	color: #4e4946;
}

.dropdown {
	font-style: italic;
	color: #6e6e6e;
/*	background-color: #fff !important;*/
	border: solid 1px #cdcdcd;
	margin-bottom: 20px !important;
}

.dropdown ul {
	padding-left: 0;
	font-style: normal;
}

/**CONTACT US**/

#Contact-Us {
	padding-top: 50px;
	padding-bottom: 50px;
}

#Contact-Us h1 {
	letter-spacing: 0px;
}

#Contact-Us p {
	letter-spacing: 0px;
	font-weight: normal;
}

#Contact-Us email{
	color: #202020;
	font-weight: normal;
	letter-spacing: 0px;
	padding: 0px;
	font-size: 17px;
}
#Contact-Us address{
	color: #202020;
	font-weight: normal;
	letter-spacing: 0px;
	font-size: 17px;
	margin-bottom: 5px;
}
#Contact-Us input{
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0px;
	margin-bottom: 20px;
	padding-left: 10px;
}

#Contact-Us textarea{
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 20px;
	padding-left: 10px;
	border-radius: 0px;
}
#Contact-Us input[type="submit"] {
	width: 150px;
    background-color: #00a19b;
    font-weight: normal;
    font-size: 15px;
	letter-spacing: 0px;
    padding-top: 10px;
    border-radius: 4px;
    padding-bottom: 10px;
    color: #fff;
    border: none;
	text-decoration: none;
}

#Contact-Us input[type="submit"]:hover{
	text-decoration: none;
	background-color: #fbd13f;
	color: #00a19b;
}
#Contact-Us a:hover{
	text-decoration: none;
}

#Contact-Us .contact-us-form {
	margin-left: 15px;
	margin-right: 15px;
}


/**ADVERTISE**/

#Advertise {
	padding-top: 50px;
	padding-bottom: 50px;
}

#Advertise h1 {
	letter-spacing: 0px;
}

#Advertise p {
	letter-spacing: 0px;
	font-weight: normal;
}

#Advertise email{
	color: #202020;
	font-weight: normal;
	letter-spacing: 0px;
	padding: 0px;
	font-size: 17px;
}
#Advertise address{
	color: #202020;
	font-weight: normal;
	letter-spacing: 0px;
	font-size: 17px;
	margin-bottom: 5px;
}
#Advertise input{
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0px;
	margin-bottom: 20px;
	padding-left: 10px;
}

#Advertise textarea{
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 20px;
	padding-left: 10px;
	border-radius: 0px;
}
#Advertise input[type="submit"] {
	width: 150px;
    background-color: #00a19b;
    font-weight: normal;
    font-size: 15px;
	letter-spacing: 0px;
    padding-top: 10px;
    border-radius: 4px;
    padding-bottom: 10px;
    color: #fff;
    border: none;
	text-decoration: none;
}

#Advertise input[type="submit"]:hover{
	text-decoration: none;
	background-color: #fbd13f;
	color: #00a19b;
}
#Advertise a:hover{
	text-decoration: none;
}

#Advertise .advertise-form {
	margin-left: 15px;
	margin-right: 15px;
}


#maintenance {
	padding-top: 100px;
	padding-bottom: 350px;
	letter-spacing: 0px;
}

#Thankyou {
	padding-top: 100px;
	padding-bottom: 350px;
	letter-spacing: 0px;
}

/**--------------**/

/**--------------**/
#About-Us .content{
	padding: 20px 50px 50px 50px;
}

#About-Us p{
	font-size: 16px;
}

#About-Us a:link{
	color: #00a19b;
	text-decoration: none;
}

#About-Us a:hover{
	color: #fbd13f;
	text-decoration: none;
}

#About-Us a:visited {
	text-decoration: none;
}

#About-Us a:active {
	text-decoration: none;
}


/**--------------**/
#Privacy-Policy .content{
	padding: 20px 50px 50px 50px;
}
#Privacy-Policy p{
	font-size: 16px;
}

#Privacy-Policy address {
	padding-left: 10px;
}

#Privacy-Policy email{
	color: #333;
}


#Privacy-Policy p strong{
	font-size: 16px;
}

#Privacy-Policy a:link{
	color: #00a19b;
	text-decoration: none;
}

#Privacy-Policy a:hover{
	color: #fbd13f;
	text-decoration: none;
}

#Privacy-Policy a:visited {
	text-decoration: none;
}

#Privacy-Policy a:active {
	text-decoration: none;
}

/**--------------**/
#Terms-of-use .content{
	padding: 20px 50px 50px 50px;
}
#Terms-of-use p{
	font-size: 16px;
} 

#Terms-of-use p strong{
	font-size: 16px;
}

#Terms-of-use a {
	color: #00a19b;
	text-decoration: none;
}

#Terms-of-use a:link{
	text-decoration: none;
}

#Terms-of-use a:hover{
	color: #fbd13f;
	text-decoration: none;
}

#Terms-of-use a:visited {
	text-decoration: none;
}

#Terms-of-use a:active {
	text-decoration: none;
}


/**--------------**/

@media screen and (max-width: 991px) {
	#Contest-Form .round {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	.wrapper {
		width: 100%;
	}
	
}

@media screen and (max-width: 767px) { 
	
	.wrapper {
		width: 100%;
	}
	#Contest-Form .round {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		
	}
	
	#Important-Links {
		padding: 50px 20px 50px 20px;
	}
	
	#Important-Links a{
		font-size: 99%;
	}
	
	[data-carousel-3d] {
		margin-top: 50px;
	}

}

@media screen and (max-width: 468px) {
	
	#mc-embedded-subscribe {
		margin: auto;
	}
	
	#Important-Links {
		padding: 50px 0px 50px 0px;
	}
	
	#About-Us .content{
		padding: 20px 20px 50px 20px;
	}
	#Privacy-Policy .content{
		padding: 20px 20px 50px 20px;
	}
	#Terms-of-use .content{
		padding: 20px 20px 50px 20px;
	}
	
	
	.wrapper {
		width: 100%;
	}
	
	[data-carousel-3d] {
		margin-top: 100px;
	}
	
	h1, h2, h3, h4, h5, h6{
		font-size: 5.9vw !important;
	}
	p {
		font-size: 4.5vw !important;
	}
 
}



/*
 * Layout Fix
 */
[data-required] {
	position: relative;
}
[data-required]:before {
	content: attr(data-content);
    color: #ef404d;
    font-size: 22px;
	font-weight: 300;
    line-height: 1;
    position: absolute;
    left: -22px;
    top: 11px;
}
.pro-det-logo {
	padding-top: 20px;
	min-width: 50px;
}
[data-required] span.required {
	position: absolute;
    top: -16px;
    color: red;
    font-size: 12px;
}
.required-note-text {
	text-align: center;
	font-size: 17px;
	color: #f94f64;
}
.g-recaptcha {
	position: relative;
}
.no-resize {
	resize: none;
}


/*
 * Media Queries
 */

@media screen and  (min-width: 990px) {
	.modal.modal-wide .modal-dialog {
		width: 60%;
	}
}

@media screen and  (max-width: 1117px) {
	.prize-sign {
		width: 200px;
	}
}

@media screen and  (max-width: 990px) {
	.prize-sign {
		width: 150px;
	}
	
	.Contest-Form-question {
		padding: 10px 0px 10px 0px;
	}
}
@media screen and (max-width: 767px) {
	.modal.modal-wide .modal-dialog {
		display: block;
		margin: auto;
	}
}
@media screen and (max-width: 480px) {
	.modal.modal-wide .modal-dialog {
		width: auto;
	}
}