/*
 *
 * NOAH STYLESHEET
 *
 */

/*#curia-posts .row {
    margin: 0;
}*/

content.forum > .panel {
    background: #F2F2F2;
    border: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.community-container:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.community-container {
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);
    padding: 0 0 10px;
}

.com-profile-container,
.com-profile-container-nb {
    text-align: center;
}

.com-profile-img {
    width: 65px;
    height: auto;
    display: -moz-inline-stack;
    display: inline-block;
}

.com-profile-name {
    font-size: 11px;
/*    color: dimgray;*/
    text-align: center;
    padding: 0 3px 3px 3px;
    border-radius: 22px;
    margin: auto;
    font-weight: bold;
}

.date-time {
/*    color: darkgray;*/
    font-size: 11px;
    margin-bottom: 0;
}

.main-topic-container {
    /* border-bottom: 2px dashed rgba(0, 0, 0, 0.15); */
    /* margin-bottom: 20px; */
}
.maintopic {
    /*
    background: white;
    border: 1px solid gainsboro;
    margin-top: 10px;
    padding: 0 10px;
    border-radius: 4px;
    */
}
.maintopic h2 {
    margin-top: 0;
}
.maintopic h2 small a {
    font-size: 12px;
/*    color: #aaa;*/
    text-decoration: none;
}
.maintopic h2 small a:hover {
/*    color: dimgray;*/
}
.newtopic h4 {
    margin-top: 0;
}
.newtopic h4 input {
    margin-top: 10px;
}

.community-header-large {
/*    color: #d6e020;*/
    font-size: 28px;
    font-weight: 200;
    line-height: 1;
}

.com-post {
/*    min-height: 50px;*/
    position: relative;
}

.com-description {
/*    color: dimgray;*/
    font-weight: 300;
    padding-right: 17px;
    word-wrap: break-word;
    width: 100%;
}

.com-icons.first {
    border-bottom: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

.com-icons {
    padding: 5px 10px 5px 10px;
    margin-bottom: 0;
}

.com-icons a, .btn-wrap a {
	text-decoration: none;
}

.com-icons a,
.com-icons button {
    font-size: 12px;
}

.com-icons a,
.com-icons strong,
.btn-wrap a,
.btn-wrap strong {
    /*color: gray;*/
}

.comment-block {
    padding: 10px 0 0;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 10px 0;
    overflow: hidden;
/*    color: #7d7f82;*/
}

.child-posts .com-profile-img {
    width: 48px;
}

.com-post .controls {
    position: absolute;
    right: -6px;
    top: -60px;
  	margin-top: 0;
}

.com-post .controls .dropdown button {
    border: none;
    padding: 0 2px;
}
.com-post .controls .dropdown button:focus, .com-post .controls .dropdown button:active, .com-post .controls .dropdown button:hover {
  	background: none;
}

.controls.list-info .dropdown-menu {
    right: 0;
    left: auto;
}

.controls.list-info .dropdown-menu li {
    list-style-type: none;
    margin: 5px 0;
}

.navbar,
.dropdown-menu {
    border-radius: 0;
}

ul {
/*    color: #b0b3b2 !important;*/
    font-size: 14px;
    margin-left: 30px;
    font-weight: 300;
}

.child-posts.reply {
    clear: both;
    background: #f5f5f5;
    padding: 5px 0 5px;
    border-top: 1px solid #EAEAEA;
    margin-top: 10px !important;
    font-size: 12px;
}

.reply-block {
    position: relative;
    padding: 5px 0;
}

.reply-block:hover .reply-controls {
    display: block;
}

.child-posts.reply .com-profile-img {
    width: 30px;
}

.reply-controls {
    position: absolute;
    right: 10px;
    top: 0;
    display: none;
    border-right: 0;
    z-index: 1;
}
.reply-controls a {
    text-decoration: none;
    width: 20px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 6px 0 6px;
/*    color: #696969;*/
}
.com-reply {
    padding: 0 5px;
}
.com-reply a {
    text-decoration: none;
}
.com-reply input {
    border-color: lightgray;
    border-radius: 0;
}
.editor-border{
/*    color: #555;*/
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;

    padding: 6px 40px 6px 12px;
    font-size: 14px;
    line-height: 1.5;
}
form.input-post .btn-wrap {
    position: absolute;
    right: 10px;
    bottom: 0px;
    z-index: 2;
}


.curia-form-NEW {
    position: relative;
}

.input-post {
    position: relative;
}

.curia-form-NEW textarea {
    border-bottom: 30px solid;
    border-color: #fff;
}
.curia-form-NEW textarea:focus {
  	border-color: #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-wrap {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-post .fa-spin {
    position: absolute;
    top: 12px;
    right: 12px;
}

.btn-wrap a {
/*    color: gainsboro;*/
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
}
.btn-wrap a:hover {
/*    color: dimgray;*/
}

.attachment.comment-block {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}
.comment-block > .media .media-left i {
    font-size: 48px;
    vertical-align: top;
}


/* [ panel 1 ] */
/*.panel-1 * div {
  	padding: 0;
  	background: none;
  	border: 0 !important;
  	margin: 0;
  	-webkit-box-shadow: none;
  	box-shadow: none;
}*/
.panel-1 aside div.panel,
.panel-1 aside div.panel-heading,
.panel-1 aside div.panel-collapse {
    padding: 0;
    border: 0;
    margin: 0;
}
.panel-1 aside div.panel {
    -webkit-box-shadow: none;
  	box-shadow: none;
    background: none;
}
.panel-1 aside .panel-default > .panel-heading {
	background: none;
}
.panel-1 aside .panel-default .panel-body {
    padding: 0;
    margin-left: 18px;
    border: 0 !important;
}
.panel-1 aside .panel-title {
	font-size: 13px;
    font-weight: bold;
  	line-height: 24px;
}
.panel-1 aside .panel-title a {
    text-decoration: none;
}
.panel-1 aside .panel-title > a, #curia-categories-sidebar .panel-body > ul > li > a {
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}
.panel-1 aside .panel-title .dropdown-title:before {
	font-family: FontAwesome;
  	content: "\f139";
    padding-right: 3px;
  	/* "\f055" plus */
  	/* "\f056" minus */
}
.panel-1 aside .panel-title .dropdown-title.collapsed:before {
	font-family: FontAwesome;
  	content: "\f13a";
}
.panel-1 aside .panel-body.dropdown-body ul li a {
	font-size: 12px;
}
.panel-1 aside .panel-body.dropdown-body ul li a:before {
	font-family: FontAwesome;
  	content: "\f105";
	padding-right: 3px;
}




