body {
  background-color: #F9F9F9; }

a, a:hover, a:focus, a:active {
  color: #A9A9A9; }

.navbar {
  margin-bottom: 0; }
  .navbar li.login {
    padding: 5px 10px 5px; }
    .navbar li.login form.form-signin {
      max-width: 100%;
      min-width: 250px; }

.navbar-brand {
  padding: 8px 15px; }
  .navbar-brand img {
    display: inline-block;
    margin-right: 5px; }
  .navbar-brand i {
    margin-right: 8px; }
  .navbar-brand span {
    position: relative; }
    .navbar-brand span:before {
      content: 'by ToolTwist';
      position: absolute;
      right: 0;
      top: 20px;
      font-size: 10px;
      color: #808080;
      line-height: normal; }

.navbar-default {
  background-color: #333;
  border: 0; }
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-brand {
    color: white; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
      color: white; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

aside ul {
  list-style: none;
  padding-left: 0; }
  aside ul li.nav-heading {
    padding: 25px 25px 10px;
    text-transform: uppercase; }
  aside ul li i {
    margin-right: 10px; }
  aside ul li ul li a {
    padding-left: 48px; }
    aside ul li ul li a:hover {
      background-color: whitesmoke; }
  aside ul li a {
    display: block;
    padding: 10px 25px;
    color: #333;
    text-decoration: none; }
    aside ul li a:hover, aside ul li a:focus {
      text-decoration: none;
      color: #333;
      background-color: #B2EF85; }

.master-wrapper {
  overflow-x: hidden; }

.wrap {
  padding-top: 50px;
  background: #F9F9F9; }

.box-placeholder {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px dashed #dddddd;
  background: #fafafa;
  color: #444444; }

.panel-heading a .fa {
  display: none; }

.panel-heading a:not(.collapsed) .fa-minus {
  display: inline-block; }

.panel-heading a.collapsed .fa-plus {
  display: inline-block; }

.list-icon i {
  font-size: 14px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  text-align: center;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  line-height: 30px; }

.list-icon div:hover i {
  -webkit-transform: scale(3, 3);
  transform: scale(3, 3); }

.panel-wrapper .table {
  margin-bottom: 0; }

.panel-footer .pagination {
  margin: 0; }

/*=============================================*
 * Charts
 *=============================================*/
.chart.stack-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: inherit;
  -ms-flex-direction: inherit;
  flex-direction: inherit;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start; }
  .chart.stack-wrap .stack.selected {
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    -webkit-box-flex: 1;
            flex: 1 100%; }
  .chart.stack-wrap .stack:not(.selected) {
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    -webkit-box-flex: 1;
            flex: 1; }

.chart section canvas {
  width: 100% !important; }

.chart .chart-elem.selected .chart-head a:before {
  content: "\f00d"; }

.chart .chart-elem:not(.selected) a:before {
  content: "\f065"; }

.chart-head {
  margin-bottom: 20px;
  text-align: right; }

.chart-head a {
  text-decoration: none; }

/*=============================================*
 * Charts END
 *=============================================*/
aside {
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 50px;
  height: 100%;
  width: 250px;
  background-color: #FFFFFF;
  border-right: 1px solid #DDDDDD;
  overflow-x: hidden;
  overflow-y: auto;
  display: block; }

footer {
  text-align: center;
  padding: 20px; }

@media screen and (min-width: 768px) {
  .navbar .navbar-header {
    width: 250px;
    text-align: center; }
  .navbar-default .navbar-brand {
    width: 100%; }
  section.content, footer {
    margin-left: 250px;
    padding: 10px 20px; } }
