.navbar {
  margin-bottom: 0; }

.navbar-brand i {
  margin-right: 8px; }

.navbar-brand span {
  position: relative; }

.navbar-brand span:before {
  content: 'by ToolTwist';
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 10px;
  color: #808080;
  line-height: normal; }

li.login {
  padding: 5px 10px 5px; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.navbar-default {
  background-color: #333;
  border-color: #ddd; }

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: white; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white; }

aside {
  display: none; }

aside ul {
  list-style: none;
  padding-left: 0; }

aside ul > li.nav-heading {
  padding: 25px 25px 10px;
  text-transform: uppercase; }

aside ul > li i {
  margin-right: 10px; }

aside ul > li a {
  display: block;
  padding: 8px 25px;
  color: gray;
  text-decoration: none; }

aside ul > li a:hover {
  color: #333;
  text-decoration: none;
  background: whitesmoke; }

aside ul > li ul li a {
  padding-left: 48px; }

.wrap {
  padding-top: 50px; }

.panel-heading a .fa {
  display: none; }

.panel-heading a:not(.collapsed) .fa-minus {
  display: inline-block; }

.panel-heading a.collapsed .fa-plus {
  display: inline-block; }

.list-icon em {
  font-size: 14px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 30px; }

.list-icon div:hover em {
  -webkit-transform: scale(3, 3);
  -ms-transform: scale(3, 3);
  -o-transform: scale(3, 3);
  transform: scale(3, 3); }

@media screen and (min-width: 768px) {
  .navbar .navbar-header {
    width: 250px;
    text-align: center; }
  .navbar-default .navbar-brand {
    width: 100%; }
  aside {
    position: fixed;
    left: 0;
    top: 50px;
    height: 100%;
    width: 250px;
    background: #F9F9F9;
    border-right: 1px solid #ddd;
    overflow-x: hidden;
    overflow-y: auto;
    display: block; }
  section.content {
    margin-left: 250px;
    padding: 10px 20px; } }
