/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	position: relative;
    background: rgb(240, 249, 240);
}
/*/
 * TT Hack
/*/
	.widgetDiv * div {
		float: none !important;
	}
	.wbdDesignerBody {
		padding: 0;
	}
	.designer-draggable-layout * div {
		position: static !important;
	}
	.widgetDiv .css_zone:before {
		content: "CSS_ZONE";
		text-align: center;
	}
	.widgetDiv .js_zone:before {
		content: "JS_ZONE";
		text-align: center;
	}