/* GLOBAL
-------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
footer {
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
}
footer h4 {
  font-weight: 600;
  margin-bottom: 25px;
}
footer a {
  color: inherit;
}

/* SEARCH MODAL
-------------------------------------------------- */
#utilSearch .modal-header .close {
  margin-top: -2px;
  position: relative;
  z-index: 1;
  top: 12px;
}
#utilSearch .modal-header .close span {
  background-color: white;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #333;
}
.util-search input[type="text"] {
  background: rgba(255,255,255,.9);
  border: 0;
  width: 100%;
  padding: 17px;
}
#utilSearch .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background: transparent;
}

/* BANNER
-------------------------------------------------- */
#headerBanner {
  margin-top: -100px;
  margin-bottom: 30px;
}
#headerBanner img {
  margin-top: 50px;
  margin: 50px auto 0 auto;
}
#myBanner.carousel .item {
  height: 300px;
  background: transparent;
}
#myBanner.carousel .carousel-indicators .active {
  background: #C2C2C2;
}
#myBanner.carousel .carousel-indicators li {
  background: #E0E0E0;
}
#myBanner.carousel .item .carousel-caption h1 {
  font-size: 38px;
  text-transform: lowercase;
}
#myBanner.carousel .item .carousel-caption p strong {
  font-size: 18px;
  font-weight: 500;
  color: #030303;
  text-transform: lowercase;
}
#myBanner.carousel .item .carousel-caption p i {
  font-size: 15px;
  color: #030303;
}
#myBanner.carousel .item .carousel-caption {
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
  color: #FE7100;
}


/* MARKETING SECTION - APPS
-------------------------------------------------- */
.dp-apps {
  
}
.dp-apps img {
  width: 100%;
}

/* TRENDING
-------------------------------------------------- */
h1.section-title {
  text-align: center;
  color: #FF7200;
  font-size: 28px;
}
h1.section-title.trending {
  margin-bottom: 35px;
}
h1.section-title hr {
  border-color: #DBDBDC;
}

/* CARD
-------------------------------------------------- */
.card {
  border: 1px solid #DDDDDD;
  margin-bottom: 20px;
}
.card .top-wrap {
  padding: 15px;
}
.card .preview img {
  display: block;
  width: 100%;
  height: auto;
}
.card .user {
  position: relative;
  top: -78px;
  left: 15px;
}
.card .user img {
  border: 3px solid white;
  display: inline-block;
  width: 110px;
}
.card .user h4 {
  display: inline-block;
  position: absolute;
  bottom: -5px;
  color: #03A9EC;
  font-size: 16px;
  font-weight: 600;
  padding-right: 15px;
}
.card .bottom-wrap {
  padding: 0 5px;
  border-top: 1px solid #DDDDDD;
}
.card .bottom-wrap .pull-left img {
  margin-right: 15px;
}
.card .bottom-wrap .pull-right {
  font-size: 25px;
  color: #1EA1E2;
}
.card .bottom-wrap .pull-right .fa {
  margin-left: 5px;
}
.card .content {
  margin-top: -60px;
}
.card .content p {
  margin-bottom: 0;
  margin-top: 10px;
}
.card .content .title-message {
  color: #03A9EC;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.3em;
}


/* COPYRIGHT
-------------------------------------------------- */
.copy {
  font-weight: 600;
  text-align: center;
  color: #B7B7B6;
}

/* FOOTER
-------------------------------------------------- */
.sitelinks > div {
  text-align: center;
}
.center-block {
  display: inline-block;
  text-align: left;
}

/* MEDIA QUERIES
-------------------------------------------------- */
@media (max-width: 767px) {
  footer {
    width: 80%;
  }
  .sitelinks {
    margin-bottom: 20px;
    text-align: center;
  }
  .navbar {
      background: white;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  }
  #headerBanner {
    margin-top: -50px;
  }
  .center-block {
    text-align: center;
  }
}
@media (max-width: 500px) {
  footer {
    width: 100%;
  }
  .carousel-indicators {
    display: none;
  }
}

/* TT Hack
-------------------------------------------------- */
	.widgetDiv * div {
		float: none !important;
	}
	.wbdDesignerBody {
		padding: 0;
	}
	.designer-draggable-layout * div {
		position: static !important;
	}
	.widgetDiv .css_zone:before {
		content: "CSS_ZONE";
		text-align: center;
	}
	.widgetDiv .js_zone:before {
		content: "JS_ZONE";
		text-align: center;
	}