/*
 * TEMPORARY CSS
 */

.tmpbtn {
  position: fixed;
  z-index: 1040;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  height: 24px;
}

.tmpbtn a {
  background: coral;
  color: white;
  padding: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 10px;
}

.tmpbtn a:hover {
  color: white;
  text-decoration: none;
}
/*
 * Forms Express CSS
 */

a {
  color: inherit;
}

a:hover {
  color: #333;
}

.navbar .navbar-brand {
  color: #2c343f;
}

.navbar-brand.menu {
  padding-left: 15px;
  padding-right: 15px;
}

.council {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  height: 70px;
  position: relative;
}

.council > img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px 10px;
}

.council .carousel img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px 10px;
}
/* temporary carousel */

.carousel-inner {
  height: 70px;
}

.carousel-inner > .item {
  height: 100%;
}

.council.mobile {
  margin: 0;
  float: left;
}

.council.mobile img {
/*  position: inherit;*/
}

.search {
  padding: 5px;
  background: white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.search input[type="text"] {
  width: 100%;
  height: 34px;
  border: 0;
  background: transparent;
}

.search .form-control:focus {
  border-bottom-color: inherit;
}

.inputButton {
  position: relative;
  padding: 5px;
}

.inputButton .btnIcon {
  position: absolute;
  right: 10px;
  top: 12px;
}

.casing.required:after {
  font-family: FontAwesome;
  content: "\f071";
  position: absolute;
  top: 8px;
  right: 0;
  color: rgb(255, 118, 118);
}
.casing.required select {
  width: 95%;
}

.card {
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  background: white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}
.card-group {
  border-left: 4px solid gray;
}
.card-group.priority {
  border-left: 4px solid indianred;
}

.box-overview {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.box-overview.active:before {
  font-family: "FontAwesome";
  content: "\f058";
  color: coral;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.box-overview.pending {
  color: silver !important;
}
.box-overview h3 {
  color: rgba(80, 69, 77, 0.85);
}
.box-overview.pending h3 {
  color: inherit;
}
.box-overview + .box-overview {
  /*border-left: 1px solid #ddd;*/
}

.box-overview .fa-usd._2 {
  top: 12px;
}
.box-overview._1 {
  color: inherit;
}
.box-overview._2 {
  color: #36BFA1;
}
.box-overview._3 {
  color: indianred;
}
.box-overview._4 {
  color: #FF6B57;
}
.box-overview._5 {
  color: #81B9C3;
}
.box-overview._6 {
  color: #64AE11;
}

.row-offcanvas {
/*
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
  background: #e9edf2;
*/
}

footer {
  position: absolute;
  left: 20px;
  bottom: 20px;
  line-height: 18px;
  font-size: 11px;
}

.btndot {
  z-index: 20;
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 16px 17px;
  color: white;
  background: #36BFA1;
}

.btndot:hover,
.btndot:focus {
  background: #23B292;
  color: white;
  text-decoration: none;
  outline: none;
}

.submitbtn {
  position: fixed;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  z-index: 2;
}

.dropzone {
  border-style: dashed;
}

.jstatus {
  border-left: 5px solid;
}

.jstatus._1 {
  border-color: coral;
}

.jstatus._2 {
  border-color: lightcoral;
}

.jstatus._3 {
  border-color: steelblue;
}

.lnk-notifications .counter {
  position: absolute;
  top: 15px;
  left: 24px;
  border-radius: 4px;
  padding: 3px 4px;
  background-color: #ff4500;
  color: #fff;
  font-size: 9px;
  line-height: 9px;
}

.account-list {
/*
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
*/
}

.hasfilter {
  color: coral;
}

/*
 * Signup
 */

.signup-wrap {
  background: #e9edf2;
}

.signup-wrap .left {
  background: #2c343f;
}
.signup-wrap.banner-staff .left {
  background: white;
}
.signup-wrap.banner-staff .left .content {
  color: inherit;
}
.signup-wrap.banner-staff {
  background: #093852;
}
.signup-wrap.banner-staff .right .card {
  color: initial;
}
.signup-wrap.banner-staff .right, .signup-wrap.banner-staff small a {
  color: white;
}

.signup-wrap .left .content,
.signup-wrap .right .content {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 30px;
  font-size: 12px;
}

.signup-wrap .left .content {
  color: white;
  text-align: right;
}

.img-notice {
  height: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px dashed lightgray;
}

.signup-nav {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
  text-align: center;
}

.signup-nav .btndot {
  padding: 13px 23px;
}
/*
 * Wizard
 */
  .wizard h4 {
    margin-top: 0;
    margin-bottom: 10px;
    background-color: #2c343f;
    padding: 10px 0 10px 45px;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
  }
  .wizard h4 span {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 35px;
    background-color: #36BFA1;
    top: 0;
    left: 0;
    padding: 11px;
    text-align: center;
    color: white;
  }
  .wizard h4 small {
    white-space: nowrap;
    display: inline-block;
  }
/*
 * Interactive Form
 */
  .form-interactive {
    position: relative;
  }

  .form-interactive .casing {
    margin-top: 20px;
  }

  .form-interactive .casing .placeholder {
    position: absolute;
    z-index: 0;
    top: 8px;
    left: 10px;
    vertical-align: middle;
    font-style: normal;
    color: gray;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    
    cursor: text;
    
/*    width: 90%;*/
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .form-interactive .casing .placeholder.move {
    top: -8px;
    color: inherit;
    font-size: 10px;
    background-color: white;
    padding: 0 3px;
    color: silver;
    font-style: normal;
  }
  .form-interactive .casing select {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-bottom-color: #eee;
    box-shadow: none;
  }
  .form-interactive input[type="text"],
  .form-interactive input[type="password"],
  .form-interactive textarea,
  .form-interactive select {
    background: transparent;
    position: relative;
  }

/*/
 * Pagination
/*/
  .pagination>.active>a, 
  .pagination>.active>a:focus, 
  .pagination>.active>a:hover, 
  .pagination>.active>span, 
  .pagination>.active>span:focus, 
  .pagination>.active>span:hover {
    color: gray;
    background: #eee;
    border-color: #ddd;
  }
  .pagination>li>a, 
  .pagination>li>span {
    color: inherit;
  }
/*/
 * Tables
/*/
  .users-row {
    cursor: pointer;
  }

/*/
 * Helper Classes
/*/
  .vspacer {
    display: block;
    height: 5px;
    clear: both;
  }
  .nomargin {
    margin: 0;
  }
  .block {
    display: block;
  }
  .inline {
    display: inline;
  }
  .wauto {
    width: auto;
  }
  .valignm {
    vertical-align: middle;
  }

/*
 * Mobile First
 */
  @media screen and (min-width: 767px) {
    .signup-wrap .left .content,
    .signup-wrap .right .content {
      width: 100%;
    }
  }
  @media screen and (min-width: 1170px) {
    .signup-wrap .left .content,
    .signup-wrap .right .content {
      width: 80%;
    }
  }
/*
 * WEB
 */
  @media screen and (max-width: 990px) {
    .box-overview:nth-child(odd) {
      border-left: 0;
    }
  }

@media screen and (max-width: 767px) {
/* for TT Designer */
  body > .container > .container-fluid {
    overflow-x: hidden;
  }
/* for Prototype only
  body > .container-fluid {
    overflow-x: hidden;
  }*/
  input[type="text"],
  input[type="password"],
  textarea {
    font-size: 16px;
  }
  .lnk-notifications .counter {
    left: auto;
    right: 15px;
    top: 24px;
  }
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  }
  .sidebar {
    background: #2c343f;
    color: white;
  }
  footer {
    color: silver;
  }
  .box-overview + .box-overview {
    border-left: 0;
    border-top: 1px solid #eee;
  }
  .icon-bpay {
    background: white;
  }
  .signup-nav {
    display: none;
  }
  .login-col-lnk {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
  }
  .council {
    width: 60%;
    display: none;
  }
  .sidebar-offcanvas {
    padding-top: 20px;
    border-top: 70px solid #E9EDF2;
  }
}

tr.addnew {
  background: whitesmoke;
}
.table tr td input[type="text"] {
  border: 1px solid;
}
.row-offcanvas {
  height: 100%;
}

/*/
 * Strength.js
/*/
  .strength_meter .veryweak {
    background-color: #FFA0A0;
    border-color: #F04040!important;
    width: 25%!important;
  }
  .strength_meter .weak {
    background-color: #FFB78C;
    border-color: #FF853C!important;
    width: 50%!important;
  }
  .strength_meter .medium {
    background-color: #FFEC8B;
    border-color: #FC0!important;
    width: 75%!important;
  }
  .strength_meter .strong {
    background-color: #C3FF88;
    border-color: #8DFF1C!important;
    width: 100%!important;
  }
  
  .strength_meter {
    width: 100%;
    background: #eee;
    height: auto;
  }
  .strength_meter div {
    height: 3px;
    white-space: nowrap;
    color: transparent;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
  }

/*/
 * Progress Train
/*/
  .job-status {
    
  }
  .pt {
    margin: 20px 0;
    padding: 40px 0;
  }
  .pt .connector {
    background-color: gainsboro;
    height: 4px;
    width: 75%;
    margin: 0 auto;
    position: relative;
  }
  .pt .connector .track {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 65%;
    background-color: #36BFA1;
  }
  .pt ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 30px;
    margin-top: -22px;
  }
  .pt ul li.point {
    margin: 0;
    padding: 0;
    font-family: "FontAwesome";
    text-align: center;
    position: absolute;
    width: 25%;
  }
  .pt ul li.point:before {
    content: "\f10c";
    font-size: 28px;
    color: #ccc;
    background: white;
  }
  .pt ul li.point span {
    display: block;
    font-family: "Open Sans", sans-serif;
  }
  .pt ul li.point.complete:before {
    content: "\f058";
    color: #36BFA1;
    background-color: white;
  }
  .pt ul li.point.done:before {
    content: "\f111";
  }

  .pt ul li.point:nth-child(1) {
    left: 0;
  }
  .pt ul li.point:nth-child(2) {
    left: 25%;
  }
  .pt ul li.point:nth-child(3) {
    left: 50%;
  }
  .pt ul li.point:nth-child(4) {
    left: 75%;
  }

.uc-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    z-index: 4;
    left: 0;
    top: 0;
    border: 1px dashed gray;
  
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.uc-overlay:hover {
    background: rgba(54, 191, 161,.6);
    cursor: not-allowed;
}
.uc-overlay .message {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: table;
    text-align: center;
    width: 100%;
}
.uc-overlay .message .text {
    margin: 0 auto;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    color: #2c343f;
}


/*/
 * Job List
/*/
.job-list .card:hover .cover {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.job-list .card .blur {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.job-list .card .blur h3 i {
    vertical-align: middle;
    display: block;
}
.job-list .card .cover {
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
}
.job-list .card:hover .blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.jl {
    padding: 15px;
    text-align: center;
}
.job-list .jl-color {
    border-left: 5px solid #2C343F ;
}
.jl .cover {
    -webkit-align-items: center;
    align-items: center;
    
    -webkit-justify-content: center;
    justify-content: center;
    
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .6);
    z-index: 1;
    display: none;
}
.jl .cover a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-align-items: center;
    align-items: center;
    
    -webkit-justify-content: center;
    justify-content: center;
    
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: inherit;
    color: #2C343F;
    border: 1px solid #D4D4D4;
}
.jl.empty {
    border-color: #CACACA;
    color: #CACACA;
}
.jl.empty sup {
	color: #CACACA;
}
.jl.empty .cover {
    display: none !important;
}
.jl.actv:before {
	font-family: FontAwesome;
    content: "\f058";
    position: absolute;
    right: 20px;
    font-size: 36px;
    color: coral;
}

#jobList table tr td {
  vertical-align: middle;
}
#jobList .table textarea, #jobList .table input[type="text"], #jobList .table select {
    width: auto;
    height: 34px;
    line-height: 1.6;
    border: 1px solid #E6E6E6;
}
#jobList input.form-control.state {
  width: 60px !important;
}
#jobList input.form-control.jobNo {
  width: 75px !important;
}
#jobList input.form-control.datePicker {
  width: 100px !important;
}


/*/ FLEX VENDOR GUIDE
    
    DISPLAY
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    ORIENT
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
    FLEX DIRECTION
        -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
        flex-direction: inherit;
    BOX ALIGN
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
    FLEX WRAP
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;
    ALIGN ITEMS
        -webkit-align-items: flex-start;
        align-items: flex-start
    FLEX
        -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
        flex: 1 100%;
    BOX ORDINAL GROUP
        -webkit-box-ordinal-group:1;
        -moz-box-ordinal-group:1;
    ORDER
        -ms-flex-order:1;
        -webkit-order:1;
        order:1;

/*/